.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 350px;
  padding-top: 8px;
}

.user-name {
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.6);
}

mat-dialog-content {
  padding-top: 0 !important;
}

mat-dialog-actions {
  button mat-spinner {
    display: inline-block;
  }
}

.icon-button-pass{
  color: #2F4499;
  border-color: #C7D2FE;
  height: 30px;
  width: 45px;
  padding: 8px;
}