<div class="modal-wrapper">
  <!-- Header -->
  <div class="modal-header">
    <div>
      <div class="modal-title">Recuperar contraseña</div>
    </div>
    <button class="modal-close" type="button" (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Body -->
  <div class="modal-body">
    <form [formGroup]="form">
      @if(successNewPasswordMessage()){
        <div class="fields-one-grip">
          <div class="forgot-success" role="alert">
              {{ successNewPasswordMessage() }}
            </div>
        </div>
      }
      @else {
        <div class="fields-one-grip">
          <p class="forgot-description">
            Ingresa tu correo electrónico y te enviaremos un enlace para recuperar tu contraseña.
          </p>
        </div>
        <div class="fields-one-grip">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="form-field no-margin">
            <mat-label>Correo electrónico</mat-label>
            <input
              matInput
              formControlName="email"
              type="email"
              placeholder="correo@ejemplo.com"
              [disabled]="isSubmitting()"
            />
            <mat-icon matSuffix>email</mat-icon>
            @if (emailControl?.hasError('required')) {
              <mat-error>El correo es requerido</mat-error>
            }
            @if (emailControl?.hasError('email')) {
              <mat-error>Ingrese un correo válido</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="fields-one-grip">
          @if (errorMessage()) {
            <div class="forgot-error" role="alert">
              {{ errorMessage() }}
            </div>
            @if(isSubmitImail()){
              <div class="forgot">
                <a (click)="onSubmit('F')" role="button">¡Solicitar enviar correo!</a>
              </div>
            }
          }

          @if (successMessage()) {
            <div class="forgot-success" role="alert">
              {{ successMessage() }}
            </div>
            <div class="forgot">
              <a (click)="onSubmit('F')" role="button">¡Solicitar enviar correo!</a>
            </div>
          }
        </div>
        @if(isSubmitImail()){
          <div class="fields-one-grip">
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="form-field no-margin">
              <mat-label>Codigo de recuperación</mat-label>
              <input
                matInput
                formControlName="token"
                type="text"
                placeholder=""
                [disabled]="isSubmitting()"
                (keypress)="onlyNumbers($event)"
              />
              @if (tokenControl?.hasError('required')) {
                <mat-error>El correo es requerido</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="fields-one-grip">
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="form-field no-margin">
              <mat-label>Nueva contraseña</mat-label>
              <input matInput formControlName="newPassword" [type]="hidePassword() ? 'password' : 'text'">
              <button class="auth-btn icon-button-pass" matIconButton matSuffix type="button" (click)="togglePasswordVisibility('newPassword')">
                <mat-icon class="material-symbols-outlined" style="font-size:16px;">{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              @if (form.get('newPassword')?.hasError('required') && form.get('newPassword')?.touched) {
                <mat-error>La contraseña es requerida</mat-error>
              }
              @if (form.get('newPassword')?.hasError('minlength') && form.get('newPassword')?.touched) {
                <mat-error>Mínimo 8 caracteres</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="fields-one-grip">
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="form-field no-margin">
              <mat-label>Confirmar contraseña</mat-label>
              <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword() ? 'password' : 'text'">
              <button class="auth-btn icon-button-pass" matIconButton matSuffix type="button" (click)="togglePasswordVisibility('confirmPassword')">
                <mat-icon style="font-size:16px;">{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              @if (form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched) {
                <mat-error>La confirmación es requerida</mat-error>
              }
              @if (form.get('confirmPassword')?.hasError('mismatch') && form.get('confirmPassword')?.touched) {
                <mat-error>Las contraseñas no coinciden</mat-error>
              }
            </mat-form-field>
          </div>
        }
      }
    </form>
  </div>

  <!-- Footer -->
  <app-modal-footer
    [isSubmitting]="isSubmitting()"
    [saveLabel]="!isSubmitImail() ? 'Enviar' : 'Guardar'"
    [saveDisabled]="form.invalid"
    (cancel)="onCancel()"
    (save)="onSubmit(!isSubmitImail() ? 'F': 'N')">
  </app-modal-footer>
</div>
